body {
    margin: 0px;
}

/***** Home page *****/

.home-content {
    /* background-color: grey; */
    /* background-image: url("static/img/home-background.jpg"); */
    height: 500px;
    margin-top: 60px;
    font-family: Chalkduster;
    margin-left: 280px;
    font-size: 25px;
}

#home-search-form {
    width: 100%;
    position: relative;
}

.home-text {
    transform: rotate(-8deg);
    color: white;
}

.home-text h1 {
    font-size: 60px;
    margin-bottom: 70px;
}

.home-text h2 {
    margin-top: 100px;
    font-size: 40px;
}

.home_input{
    width: 100%;
    float: left;
    border: 3px solid grey;
    padding: 5px;
    height: 20px;
    border-radius: 5px;
    outline: none;
    color: black;
    font-size: 15px;
    font-family: Chalkduster;  
}

.navbar_input {
    font-family: inherit;
    border-radius: 6px;
    font-size: 13px;
    width: 160px;
    height: 20px;
}


#input_text:focus {
    color: grey;
  }

.searchButton {
    position: absolute;  
    right: -50px;
    width: 40px;
    height: 36px;
    border: 1px solid grey;
    background: grey;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}
button:focus {outline:0;}

.wrap{
    width: 25%;
    transform: rotate(-8deg) !important;
    margin-left: 35px;
    margin-top: 80px;
  }


/***** Recipe page *****/

/* Nav bar */
.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    font-family: Chalkduster;
}

.navbar h2 {
    display: inline-block;
    color: #f2f2f2;
    padding: 2px 0px 0px 7px;
    font-size: 22px;
}

.navbar a {
    color: #fff;
}

#search-form {
    display: inline-block;
    margin-right: 60px;
    float: right;
}

/* input {
    font-family: inherit;
    border-radius: 6px;
    font-size: 13px;
    width: 160px;
    height: 30px;
} */

button {
    display: inline-block;
    font-family: inherit;
    border-radius: 6px !important;
    font-size: 13px !important;
}

.nav_button {
    border-radius: 6px !important;
}

/* Container */
.container {
    margin-top: 130px;
    text-align: center;
}

.content {
    width: 400px;
    vertical-align: top;
    margin-bottom: 20px;
    display: inline-block;    
}

/* Recipes */

.label {
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: bold;
}

.ingredients {
    width: 350px;
    list-style-type: none;
}
ul {
    list-style-type: none;
}

.image {
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
}

a:link {
    text-decoration: none;
    color: black;
}
button {
    font-size: 15px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, .5);
}

/* For small devices */
@media screen and (max-width: 600px) {
    
    #search-form {
        text-align: center;
        margin-bottom: 15px;
    }
    
    .container {
        margin-top: 180px;
    }
}